body{
    padding: 0;
    margin: 0;
}
.top-title{
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    height: 54px;

}
.top-title-one{
    display: flex;
}
.top-title-hamburger{
    margin: 1px;
    padding: 6px 0px 8px;
    text-align: center;
    /* height and width specified */
    width: 48px;
    height: 48px;
}
.top-title-hamburger-img{
    margin: 7px 0px 0px;
    height: 20px;
    width: 20px;

}
.top-title-one-searchh{
    margin: 2px 6px 1px 2px;
    padding: 8px 8px 8px 0px;
     /* height and width specified */
     width: 34px;
     height: 32px;
     text-align: center;
}
.top-title-one-microsof{
    margin: 0px 0px 0px 0px;
    padding: 12px 4px;
}
.top-title-one-searchh-img{
    margin: 0px 0px 0px 2px;
    width: 16px;
    height: 18px;
}
