@font-face {
    font-family:"ic" ;
    src: url(/asset/font/MWFFluentIcons.woff2);
}
@font-face {
    font-family:"f1";
    src: url(/asset/font/mwfmdl2-v3.54.woff);
}
@font-face {
    font-family: "f2";
    src: url(/asset/font/normal.woff2);
}
@font-face {
    font-family: "f3";
    src: url(/asset/font/semi_bold.woff2);
}
.third-nav{
    display: none;
   }
body{
    padding: 0;
    margin: 0;
}
.top-title{
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    height: 54px;
    position: relative;

}
.top-title-one{
    display: flex;
}
.top-title-hamburger{
    margin: 1px;
    padding: 6px 0px 8px;
    text-align: center;
    /* height and width specified */
    width: 48px;
    height: 48px;
}
.top-title-hamburger-img{
    margin: 7px 0px 0px;
    height: 20px;
    width: 20px;

}
.top-title-one-searchh{
    margin: 2px 6px 1px 2px;
    /* margintop extra added */
    padding: 15px 8px 8px 0px;
     /* height and width specified */
     width: 34px;
     height: 32px;
     text-align: center;
}
.top-title-one-microsof{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 12px 0px;
}
.top-title-one-searchh-img{
    margin: 0px 0px 0px 2px;
    width: 16px;
    height: 18px;
}
.top-title-two{
    left: 0;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    height: 34px;
    position: absolute;
    width: 100%;
    top: 54.5px;
}
.top-title-two-azure{
    position: relative;
    top: 9px;
    background-color: transparent;
    border: 0;
    color: #000;
    display: block;
    height: 100%;
    margin: 0px 1px;
    padding:0 15px;
    text-align: left;
}

.top-title-two-azure span{
     font-weight: 555;
     font-size: 15px;
     font-family: sans-serif;
    

}
.top-title-two-arrow{
   width: 12px;
   padding-left: 7px;
   position: relative;
   top: 2px;
}
.second-nav{
    display: none;
}
/* picture section */
.image-container{
    height: 100%;
    width: 100%;
}
.section-img{
    /* position: relative;
    top:33px; */
    display: block;
    width: 100%;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}
.section-container{
    background-image: linear-gradient(90deg, rgb(237, 232, 246) 0%, rgb(244, 250, 253) 49.99%, rgb(220, 238, 248) 100%);    margin-top: 33px;
    /* heightproblem /////// */
    padding-bottom: 100px;
    background-size: cover;
}
.container-{
    /* width: 100%; */
    padding-right: 1rem;
    padding-left: 1rem; 
    /* overflowwwwww */
}
.container-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;
    padding-inline: 4px;
}
.container-col{
    padding-left: -.25rem ;
    padding-right: -.25rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.layout-section{
    margin-top: 2rem;
    box-sizing: border-box;
    color: rgb(23, 37, 61);
    column-gap: 12px;
    display :flex;
    flex-direction :column;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight:400;



}
.heading-eyebrow{
    font-family: "f3";
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: .75rem;
}
/* .bloack-heading-title{
   
    width: 288px;  
} */
h1{
    font-weight: 600;
    font-family: "f2";
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -.05em;
    margin: 0;

}
.bloack-heading-title-paragraph{
    font-family: "f2";
    color:#17253d;
    margin-top:16px;
    padding-inline-end: 16px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -.03em;
}
.block-heading-slot{
    margin-top: 24px;
}
.btton-group{
   --button-group-direction:column;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}
.btn{
    border: 2px solid transparent;
    padding: 0.75em;
    text-align: center;
    color: #fff;
    justify-content: var(--button-justify-content);
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    background-color: #0078d4;
    border-radius: 0.5rem;
    text-decoration: none;
    


}

 #sticky-nav {
    background-color: #fefefe;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
    border-bottom: 5px solid #004275;
 }
.dropdown{
    margin: 0.25rem;
    background-color: #fefefe;
    border-radius: 0;
}
.dropdown-a{
    color: #0067b8;
    text-decoration: none;
}
.list-item{
    color: #0e1726;
}
.list-item-inner{
    padding: 0.75rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

}
.list-item-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 0.25rem;
}
.list-item-content-title{
    box-sizing: border-box;
    color: rgb(0, 66, 117);
    font-size: 14px;
}
.data-token{
    font-weight: 600;
    font-size: .875rem;
    line-height:1.25rem;
    color: #004275;
    font-family: "f2";
    
}
.list-item-trailing{
    align-self: self-end;
    box-sizing: border-box;
    color: #0067b8;
}
.iconspan::before{
    content: "";
    font-family: "ic";
    font-weight: 400;
    line-height: 1;
    color: #0078d4 ;
}
/* <!-- what happening azuresection --> */
.scrollspy-container{
    position: relative;
    box-sizing: border-box;
    
}
.section-master{
   padding-bottom: 56px;
   padding-top: 56px; 
}
.section-master-image{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: unset;
    max-height: 100%;
    overflow: hidden;
    display: block;
}
.section-master-picture{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.section-master-image-container{
    box-sizing: border-box;
    padding-right: 1rem;
    padding-left: 1rem;
}

.component-name-bloack-heading{
    position: relative;
}
.bloack-heading-eyebrow{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 0 0.75rem;
    color: #17253d;
    margin-bottom: 0;
}
.data--tokent--text{
    font-family: "f2";
    margin: 0 0 0.75rem;
    font-weight: 600;
    font-size:.75rem;
    line-height: 1rem;
    letter-spacing:  .08em; 

}
.data-oc-token-text{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -.05em;
    font-family: "f3";

}
.row-section-master--slot{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.colll{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: normal;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
}
.component-three-up-card{
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: normal;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    border-radius: 1rem;

}
/* jjjjjjjjjppppppp */
.image-lazy{
    max-width: 100%;
    height: auto;
    object-fit: inherit;
    aspect-ratio: 2.33333;
    border-radius: 0.5rem;
}
.component-card-image-dv{
   padding: 0.5rem 0.5rem 0rem;
}
.card-cotent{
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-width: 1px;
    word-break: break-word;
    background-clip: border-box;
    height: 100%;
}
.card-cotent-text{
    display: flex;
    flex-direction: column;
    gap:0.75rem;
    align-items:flex-start;
}
.data-token-text{
    font-weight:  600;
    font-size:  1.125rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;

}
.block-span{
    font-weight:  600;
    font-size:  1.125rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    font-family: "f3";
}
.block-feateure-paragraph{
    font-family: "f2";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;
    margin-bottom: 0;
}
.block-slim{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: initial;
}
.link-block-slim{
    color: #004275;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration-line: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
.arrow-button-dv{
    padding: 0.5rem;
    border: 2px solid transparent;
    background-color: #0078d4;
    color: #fff;
    border-radius: 0.5rem;
    
}
.arrow-buttoon::after{
    content: "";
    font-family: "ic";
    font-weight: 400;
    line-height: 1;
    
}
.link-text{
    font-family: "f3";
    padding-bottom: 0.125rem;
    color: #004275;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
}
/* section-masater-theme-base////// */
.section-master-theme-base{
    position: relative;
    background-color:rgba(255, 255, 255, 0.6);
    padding-top: 56px;
    padding-bottom: 56px;
}
.section-master-container{
    padding-right: 1.1rem;
    padding-left: 1.1rem;
}
.section-master-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: -.25rem;
    margin-left: -.25rem;
}
.section-master-block-heading-eye-brow{
    text-transform: uppercase;
    color: #004275;
    margin: 0 0 0.75rem;
}
.section-master-data-token-text{
    font-family: "f2";
    color: #17253d;
    font-weight: 600;
    font-size:  .75rem;
    line-height: 1rem;
    letter-spacing: .08em;
}
.block-heading-token-text-span{
    font-family: "f3";
    font-weight: 600;
    font-size: 1.5rem;
    line-height:  2rem;
    letter-spacing:  -.05em;
}
.row-section-master--slot---{
    margin-top: 1.5rem;
    /* display: flex;
    flex-wrap: wrap; */
    margin-right: -.25rem;
    margin-left: -.25rem;
}
.row-section-master--slot-col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: normal;
    padding-right: .25rem;
    padding-left: .25rem;
    
}
.row-section-master--slot-col-component{
    display: flex;
    flex-direction: column;
}
.tab-overflow{
    overflow-x: auto;
    white-space: nowrap;


}
.tab-group{
    display: inline-flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 0;
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
.tab-button{
    background-color: #005597;
    color: #fff;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 12.5rem;
    border: none;
}
.tab-buttonn{
    padding:0.5rem 1rem;
    margin-right: 0.5rem;
    white-space: nowrap;
    border-radius: 12.5rem;
    background-color: rgba(0, 85, 151, 0.1);
    color:#004275;
    border: none !important;
}
.tab-button-item{
    padding-bottom: 0.125rem;
    pointer-events: none;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
}
.row--section-masterrr{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;

}
.col--section-masterr{
    padding-right: .25rem;
    padding-left: .25rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.ul-data-items{
    overflow-y: auto;
    padding: 0;

}
.ocr-accordion-item{
    display: flex;
    flex-direction: column;
}

.button-itemss--{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0rem 0rem 1.5rem;
    align-items: center;
    border: none;
    color: #0e1726;
    background: 0;
}
.button-itemss--::before{
    font-family: "ic";
    content: "";
    font-size: 1em;
    transform: rotate(-180deg);

}
.itms-token-text-span{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;

}
.collapse-sho-item{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-bottom:1.5rem;
}
.data-token-collapse{
    color: #17253d;
    font-family: "f2";

}
.a-link-linkinline{
    color: #004275;
    margin-bottom:1.5rem ;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration-line:underline;
}
.link__text{
    font-family: "f2";
    color: #0067b8;
    line-height: 1.25rem;
}
.collopse-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collopse-media-image{
    aspect-ratio: initial;
}
.image-fluid{
    max-width: 100%;
    height: inherit;
    object-fit: inherit;
    border-radius: 1rem;
    aspect-ratio: initial;
}
.play-button{
    position: absolute;
    padding: 0.75rem;
    background-color: #0078d4;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-icon-btn{
    
    color:#fff ;
    text-decoration: none;
}
.btn-icon-btn-span::before{
    display: block;
    content: "";
    font-family: "ic";
    font-weight: 400;
    line-height: 1;

}
.button-itemss--{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0rem 0rem 1.5rem;
    align-items: center;
    border: none;
    color: #0e1726;
    background: 0;
}
.button-itemss--::before{
    font-family: "ic";
    content: "";
    font-size: 1em;
    transform: rotate(-180deg);

}
.itms-token-text-span{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -.03em;

}
@media screen and (min-width:1024px) {
   .first-nav{
    display: none;
   }
   .second-nav{
    display: block;
   }
   .second-nav-main{
    font-family: "f2";
    position: relative; 
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    background: #ffffff;
    margin: 0px 0px 2px;
    padding: 0px 24px;
   }
    .micro-azure{
        display: flex;
    }
    .micro-azure-navul{
        display: flex;
    }
   .secod-nav-img-microsoft{
     margin: 1px 0px 0px;
     padding: 16px 6px 16px 10px;
   }
   .second-nav-azure{
     display: flex;
     align-items: center;
   }
   .azure-line{
    background-color: #000;
    width:2px;
    margin: 0px 0px 0px 20px;
    height: 24px;
   }
   .second-nav-span{
    font-size: 18px;
    font-weight: 600;
    margin-top: -3px;
   }
    #icon-span{
        display: flex;
        align-items: flex-end;
    }
    #icon-span::after{
    font-family: "ic";
    content: "";
    /* position: absolute; */
    font-size: 8px;
    display: inline-block;
    color: currentColor;
    font-weight: 700;
    padding-left: 4px;
   }
   .azure-word{
    margin: 1px 0px 0px 7px;
    padding: 16px 6px 16px 10px;
   }
   .second-nav-ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
   }
   li{
    font-size: 13px;
    margin: 1px -10px 0px 0px;
    padding: 16px 26px 16px 12px;
   }
   .second-nav-main-ulsection{
    display: flex;
    align-items: center;
    
   }
   
   
   /* cjjs;s */
   .second-nav-endsec{
    display: none;
    align-items: center;
   
   }
   .search-nav-main-searchhimg{
    margin: 0px 6px 1px;
    padding: 15px 9px 20px;
    
   
   }
   #buton-span-search::after{
    font-family: "ic";
    content: "";
    -ms-high-contrast-adjust: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
   }
   /* section-container margin-top */
   .section-container{
     margin-top: unset;
   }
   .third-nav{
    display: none;
   }

}
@media screen and (min-width:1200px){
    .second-nav{
        display: none;
    }
    .third-nav{
        display: block;
        height: 54px;
        padding: 0px 38px;
    }
    #icon-span{
        display: flex;
        align-items: baseline;
    }
    .second-nav-main{
        display: flex;
        flex-direction:  row;
        align-items: center;
    }
    .second-nav-endsec{
        display: block;
        display: flex;
    }
    
    #span-search::after{
        font-family: "ic";
        content: "";
        -ms-high-contrast-adjust: none;
        border: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 2px;
        position: relative;
        text-indent: 0;
        vertical-align: sub;
    }
    .second-nav-endsec-end{
        display: flex;
        align-items: center;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .second-nav-endsec span{
        font-size: 13px;
    }
    #li-button-first{
        background-color: #0078d4;
        color: #fff ;
        border-radius: 3px;
        border: 1px solid;
        height: 31px;
        margin: 1px 8px;
        padding-top: 4px;
        line-height: 1.5;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: normal;
        
    }
    #button-span{
        font-size: 13px;
        padding: 4px 8px 10px;
    }
    #li-button-sec{
        background-color: #fff;
        color: #262626;
        border-radius: 3px;
        border: 1px solid;
        height: 31px;
        margin: 1px 8px;
        line-height: 1.5;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: normal;
    }
    #list-learn{
        margin: 1px 0px 0px ;
        padding: 0px 10px;
    }
    li a{
        text-decoration: none;
        color: #000;
       
    }
    .button-li{
        padding: 0;
        margin: 0;

    }
   
}
@media screen and (min-width:1440px) {
    .second-nav{
        display: block;
    }
    .search-nav-main-searchhimg{
        display: none;
    }
    .third-nav{
        display: none;
       }
    .second-nav-endsec{
       display: block;
       display: flex;
       /* gap: 15px; */
       align-items: center;
       /* position: absolute; */
       /* right: 72px; */
       white-space: nowrap;

    }
    
    .second-nav-main{
        margin: 0px 0px 2px;
        padding: 0px 72px;
    }
    .search-dv{
        margin: 0px 6px 1px 1px;
        /* padding: 15px 9px 30px; */
        padding: 0px 10px;
    }
    #span-search::after{
        font-family: "ic";
        content: "";
        -ms-high-contrast-adjust: none;
        border: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 2px;
        position: relative;
        text-indent: 0;
        vertical-align: sub;
    }
    .second-nav-endsec-end{
        display: flex;
        align-items: center;
        /* gap: 6px; */
        white-space: nowrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .second-nav-endsec span{
        font-size: 13px;
    }
    #li-button-first{
        background-color: #0078d4;
        color: #fff ;
        border-radius: 3px;
        border: 1px solid;
        height: 31px;
        margin: 1px 8px;
        /* margin-top: 11px; */
        padding-top: 4px;
        line-height: 1.5;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: normal;
        
    }
    #button-span{
        font-size: 13px;
        padding: 4px 8px 10px;
    }
    #li-button-sec{
        background-color: #fff;
        color: #262626;
        border-radius: 3px;
        border: 1px solid;
        height: 31px;
        margin: 1px 8px;
        /* margin-top: 11px; */
        /* padding-top: 4px; */
        line-height: 1.5;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: normal;
    }
    #list-learn{
        margin: 1px 0px 0px ;
        padding: 0px 10px;
        /* padding: 16px 8px 10px; */
    }
    li a{
        text-decoration: none;
        color: #000;
       
    }
    .button-li{
        padding: 0;
        margin: 0;

    }
   
}

